@media print {
  @page {
    size: 12in 7in;
    margin: 1cm;
  }

  body {
    background: white !important;
    color: black !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .print-area {
    all: initial;
    font-family: Arial, sans-serif;
    color: black;
    width: 100%;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
  }

  th,
  td {
    padding: 6px;
    text-align: left;
  }

  h1 {
    font-size: 18px;
    font-weight: bold;
  }

  strong {
    font-weight: bold;
  }

  header {
    display: flex !important;
    flex-direction: row !important;
    align-items: end !important;
    justify-content: space-between !important;
  }

  .text-red-500 {
    color: red !important;
  }

  .text-end {
    text-align: right !important;
  }

  .text-center {
    text-align: center !important;
  }
}
