@config "../tailwind.config.ts";
@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: Geist;
  src: url(./assets/fonts/Geist-Black.ttf) format("ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Geist;
  src: url(./assets/fonts/Geist-ExtraBold.ttf) format("ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Geist;
  src: url(./assets/fonts/Geist-Bold.ttf) format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Geist;
  src: url(./assets/fonts/Geist-SemiBold.ttf) format("ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Geist;
  src: url(./assets/fonts/Geist-Medium.ttf) format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Geist;
  src: url(./assets/fonts/Geist-Regular.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Geist;
  src: url(./assets/fonts/Geist-Light.ttf) format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Geist;
  src: url(./assets/fonts/Geist-ExtraLight.ttf) format("ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Geist;
  src: url(./assets/fonts/Geist-Thin.ttf) format("ttf");
  font-weight: 100;
  font-style: normal;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-customize: var(--customize);
  --color-customize-hover: var(--customize-hover);
  --color-customize-border: var(--customize-border);
  --color-customize-btn-shadow: var(--customize-btn-shadow);
  --color-customize-btn-shadow-hover: var(--customize-btn-shadow-hover);
}

:root {
  --font-geist: "Geist", sans-serif;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: rgb(36, 143, 85);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: 47 95% 53%; /* yellow-500 */
  --chart-2: 142 76% 36%; /* green-500 */
  --chart-3: 0 84% 60%; /* red-500 */
  --chart-4: 187 85% 53%; /* cyan-500 */
  --chart-5: 0 0% 80%; /* tùy chọn cho "Other" */
  --sidebar: var(--background);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  /* --sidebar-accent: oklch(0.967 0.001 286.375); */
  --sidebar-accent: oklch(0.21 0.006 285.885 / 0.09);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);

  --customize: #22bab3;
  --customize-hover: #57cbf5;
  --customize-border: #22bab3;
  --customize-border-hover: #3ec2bc;
  --customize-btn-shadow: 0 3px 6px 0 rgba(62, 194, 188, 0.3);
  --customize-btn-shadow-hover: 0 3px 8px 0 rgba(50, 179, 103, 0.3);
}

.dark {
  --background: #282a36;
  --foreground: #f8f8f2;
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: rgb(36, 143, 85);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: 47 95% 53%; /* yellow-500 */
  --chart-2: 142 76% 36%; /* green-500 */
  --chart-3: 0 84% 60%; /* red-500 */
  --chart-4: 187 85% 53%; /* cyan-500 */
  --chart-5: 0 0% 80%; /* tùy chọn cho "Other" */
  --sidebar: var(--background);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  /* --sidebar-accent: oklch(0.274 0.006 286.033); */
  --sidebar-accent: oklch(0.21 0.006 285.885 / 0.5);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);

  --customize: #22bab3;
  --customize-hover: #57cbf5;
  --customize-border: #22bab3;
  --customize-border-hover: #3ec2bc;
  --customize-btn-shadow: 0 3px 6px 0 rgba(62, 194, 188, 0.3);
  --customize-btn-shadow-hover: 0 3px 8px 0 rgba(50, 179, 103, 0.3);
}

@layer base {
  * {
    @apply border-border outline-ring/50 transition-colors duration-200;
  }

  body {
    @apply bg-background text-foreground font-geist !pointer-events-auto;
  }

  img {
    @apply rounded-sm object-contain;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }

  *::-webkit-scrollbar {
    @apply w-2;
  }

  *::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-border rounded-full;
  }
}

@layer utilities {
  .font-black {
    @apply font-geist font-black;
  }

  .font-extrabold {
    @apply font-geist font-extrabold;
  }

  .font-bold {
    @apply font-geist font-bold;
  }

  .font-semibold {
    @apply font-geist font-semibold;
  }

  .font-medium {
    @apply font-geist font-medium;
  }

  .font-normal {
    @apply font-geist font-normal;
  }

  .font-light {
    @apply font-geist font-light;
  }

  .font-extralight {
    @apply font-geist font-extralight;
  }

  .font-thin {
    @apply font-geist font-thin;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
